<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cykj.mapper.OrderMerchantMapper">

<!--     //根据商户id、时间段获取商户流水-->
    <select id="getBillById" resultType="com.cykj.pojo.Db123456">
        select * from db${merchantNumber}
        <where>
            1 = 1
            <if test="startDate != null and endDate != null">
               and `time` between #{startDate,jdbcType=TIMESTAMP} and #{endDate,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

</mapper>
