<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.CheckOutMapper">
  <resultMap id="BaseResultMap" type="com.cykj.pojo.CheckOut">
    <!--@mbg.generated-->
    <!--@Table check_out-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="legle_person" jdbcType="VARCHAR" property="leglePerson" />
    <result column="tele" jdbcType="VARCHAR" property="tele" />
    <result column="identity_front" jdbcType="VARCHAR" property="identityFront" />
    <result column="identity_back" jdbcType="VARCHAR" property="identityBack" />
    <result column="qr_img" jdbcType="VARCHAR" property="qrImg" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, admin_id, legle_person, tele, identity_front, identity_back, qr_img, certificate, 
    `state`, reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from check_out
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from check_out
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cykj.pojo.CheckOut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into check_out (admin_id, legle_person, tele, 
      identity_front, identity_back, qr_img, 
      certificate, `state`, reason
      )
    values (#{adminId,jdbcType=INTEGER}, #{leglePerson,jdbcType=VARCHAR}, #{tele,jdbcType=VARCHAR}, 
      #{identityFront,jdbcType=VARCHAR}, #{identityBack,jdbcType=VARCHAR}, #{qrImg,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cykj.pojo.CheckOut" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into check_out
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="leglePerson != null">
        legle_person,
      </if>
      <if test="tele != null">
        tele,
      </if>
      <if test="identityFront != null">
        identity_front,
      </if>
      <if test="identityBack != null">
        identity_back,
      </if>
      <if test="qrImg != null">
        qr_img,
      </if>
      <if test="certificate != null">
        certificate,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="leglePerson != null">
        #{leglePerson,jdbcType=VARCHAR},
      </if>
      <if test="tele != null">
        #{tele,jdbcType=VARCHAR},
      </if>
      <if test="identityFront != null">
        #{identityFront,jdbcType=VARCHAR},
      </if>
      <if test="identityBack != null">
        #{identityBack,jdbcType=VARCHAR},
      </if>
      <if test="qrImg != null">
        #{qrImg,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cykj.pojo.CheckOut">
    <!--@mbg.generated-->
    update check_out
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="leglePerson != null">
        legle_person = #{leglePerson,jdbcType=VARCHAR},
      </if>
      <if test="tele != null">
        tele = #{tele,jdbcType=VARCHAR},
      </if>
      <if test="identityFront != null">
        identity_front = #{identityFront,jdbcType=VARCHAR},
      </if>
      <if test="identityBack != null">
        identity_back = #{identityBack,jdbcType=VARCHAR},
      </if>
      <if test="qrImg != null">
        qr_img = #{qrImg,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cykj.pojo.CheckOut">
    <!--@mbg.generated-->
    update check_out
    set admin_id = #{adminId,jdbcType=INTEGER},
      legle_person = #{leglePerson,jdbcType=VARCHAR},
      tele = #{tele,jdbcType=VARCHAR},
      identity_front = #{identityFront,jdbcType=VARCHAR},
      identity_back = #{identityBack,jdbcType=VARCHAR},
      qr_img = #{qrImg,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>